<html>
    <head>
        <meta charset = "utf8">
        <title>Lista de equipos:</title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <h2>Lista de equipos:</h2>
            
            <form method="GET" action='/teams/createTeam'>
                <input type="submit" value="Crear equipo">
            </form>

            <%for(let i=0; i<list.length; i++){%>
      
            <ul>
            <li><strong>Nombre equipo:</strong><%=list[i].teamname%></li>
            <li><strong>Creador del equipo:</strong><%=list[i].creator%></li>        
            <li><strong>Número de miembros del equipo:</strong><%=list[i].maxmembers%></li>   
            <li><strong>Usuarios del equipo:</strong><%=list[i].users%></li>

            <form method="GET" action='/teams/<%=list[i].teamname%>'>
                <input type="submit" value="Seleccionar equipo">
            </form>
            <form method="GET" action='/teams/modifyTeam/<%=list[i].teamname%>'>
                <input type="submit" value="Modificar equipo">
            </form> 
            <form method="POST" action='/teams/modifyTeam/<%=list[i].teamname%>'>
                <input type="submit" value="Borrar equipo">
            </form>
            </ul>
            <%};%>

     
    </body>
</html>

