<html>
    <head>
        <meta charset="utf8">
        <title>Modificación de equipo</title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
    </head>
    <body> 
        <h2>Equipo <%=team.teamname%></h2>
            <ul>
                <li><strong>Nombre equipo:</strong><%=team.teamname%></li>
                <li><strong>Creador del equipo:</strong><%=team.creator[0].username%></li>
                <li><strong>Número de miembros del equipo:</strong><%=team.maxmembers%></li>
                <li><strong>Usuarios del equipo:</strong></li>
                
                <%for(let i=0; i<team.users.length; i++){%>

                    <ul>
                        <li><strong>Usuario:</strong>Nombre: <%=team.users[i].username%>,
                         email: <%=team.users[i].email%>, rol: <%=team.users[i].role%></li>
                    </ul>
                <%}%>
            </ul>
            
            <%if(err.length != 0) {%>
                
                <br>
                <strong><%=err%></strong>
                <br>
            <%}%>
            <br>
            <form method="POST" action='/teams/membersNumber/<%=team.teamname%>'>
                <label for="membersNumber">Modificar número de miembros:</label>
                <input type="number" name="membersNumber" id="membersNumber">
                <input type="submit" value="Cambiar nºmiembros">
            </form>
            <form method="POST" action='/teams/addUser/<%=team.teamname%>'>
                <label for="adduser">Añadir miembro:</label>
                <input type="email" name="adduser" id="adduser">
                <input type="submit" value="Añadir miembro">
            </form>
            <form method="POST" action='/teams/deleteUser/<%=team.teamname%>'>
                <label for="deleteuser">Borrar miembro:</label>
                <input type="email" name="deleteuser" id="deleteuser">
                <input type="submit" value="Borrar miembro">
            </form>
            <form method="GET" action='/teams'>
                <input type="submit" value="Volver a la lista">
            </form>
    </body>
</html>