<html>
    <head>
        <meta charset="utf8">
        <title>Características del equipo</title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
    </head>
    <body>
        <h2>Equipo <%=team.teamname%></h2>
            
            <%if(err.length != 0) {%>
                
                <br>
                <strong><%=err%></strong>
                <br>
            <%}%>
            <%if(operation.length != 0) {%>

                <br>
                <strong><%=operation%></strong>
                <br>
            <%}%>
            <ul>
                <li><strong>Nombre equipo:</strong><%=team.teamname%></li>
                <li><strong>Creador del equipo:</strong><%=team.creator%></li>
                <li><strong>Número de miembros del equipo:</strong><%=team.maxmembers%></li>
                <li><strong>Usuarios del equipo:</strong></li>
                
                <%for(let i=0; i<team.users.length; i++){%>

                    <ul>
                        <li><strong>Usuario:</strong>Nombre: <%=team.users[i].username%>,
                         email: <%=team.users[i].email%></li>
                    </ul>
                <%}%>
            </ul>

            <form method="GET" action='/teams'>
                <input type="submit" value="Volver a la lista">
            </form>
    </body>
</html>