<html>
    <head>
        <meta charset="utf8">
        <title>Agregar usuario</title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
    </head>
    <body>
        <h2>Usuario <%=user.username%></h2>

            <%if(operation.length != 0){%>

                <br>
                <strong><%=operation%></strong>
                <br>
            <%}%>

            <ul>
                <li><strong>Nombre de usuario: </strong><%=user.username%></li>
                <li><strong>email: </strong><%=user.email%></li>
                <li><strong>role: </strong><%=user.role%></li>
            </ul>

            <form method="GET" action='/users/modify/<%=user.email%>'>
                <input type="submit" value="Modificar usuario">
            </form>
            <form method="GET" action="/teams">
                <input type="submit" value="Ver lista de equipos">
            </form>
    </body>
</html>